<div id="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filter-btn">
                    <p>Filtrer</p>
                    <span class="filter-arrow">&#9207;</span>
                </div>
                <div class="filter-checkbox">
                    {{#filterCheckbox characters.items}}
                    {{/filterCheckbox}}
                </div>
            </div>
        </div>
    </div>    
</div>