<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 copyright">
                <p>Copyright 2018 - Sandrine Martinez</p>                               
            </div>
        </div>
        <div class="row">
            <div class="col-12 conception-tools">
                <div>
                    <p>Cette page a été conçue avec :</p>
                    <p>
                        <i class="fab fa-html5 fa-2x"></i> 
                        <i class="fab fa-css3-alt fa-2x"></i> 
                        <i class="fab fa-node-js fa-2x"></i>
                        <i class="fab fa-npm fa-2x"></i>
                        <i class="fab fa-gulp fa-2x"></i>
                        <i class="fab fa-sass fa-2x"></i>
                        <i class="fab fa-js fa-2x"></i>
                        <i class="fab fa-font-awesome fa-2x"></i>
                        <img src="./dist/img/brands/html5.svg" class="htmlFive technoLogo" width="24" height="32" />
                        <img src="./dist/img/brands/css3-alt.svg" class="cssThree technoLogo" width="24" height="32" />
                        <img src="./dist/img/brands/node-js.svg" class="nodeJs technoLogo"  width="28" height="32" />
                        <img src="./dist/img/brands/npm.svg" class="npm technoLogo" width="36" height="32" />
                        <img src="./dist/img/brands/gulp.svg" class="gulp technoLogo" width="16" height="32" />
                        <img src="./dist/img/brands/sass.svg" class="sass technoLogo" width="40" height="32" />
                        <img src="./dist/img/brands/js.svg" class="js technoLogo" width="28" height="32" />
                        <img src="./dist/img/brands/font-awesome.svg" class="fontAwesome technoLogo" width="28" height="32" />
                        <img src="./dist/img/brands/bootstrap.svg" class="bootstrap" width="24" height="32" />
                        <img src="./dist/img/brands/jquery.png" class="jquery" width="30" height="32" />
                        <img src="./dist/img/brands/handlebars.svg" class="handlebars" width="30" height="12" />
                        <img src="./dist/img/brands/json-5.svg" class="json" width="32" height="32" />
                        <img src="./dist/img/brands/browsersync.svg" class="browsersync" width="32" height="32" />
                    </p> 
                </div>                
            </div>
        </div>
    </div>    
</footer>