<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">   
                <div>
                    <h1>Caractères spéciaux</h1>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Description</h2>
                            <p>Liste des caractères spéciaux avec entité HTML numérique, nommée et code clavier.</p>
                            <p>Cliquer sur le titre de l'entité souhaitée pour qu'elle soit copiée dans le presse papier.</p>
                        </div>
                    </div>
                </div>                           
            </div>
        </div>
    </div>        
</header>